# Task-7 (Dated:24.July.2022)

# Function Definition: Create MYSQL Database

In [3]:
def create_database(db_name):
    """function to create a database in Mysql"""
    import mysql.connector as conn
    mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
    cursor=mydb.cursor()
    
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    
    try:
        logging.info(f"database {db_name} creation started")
        cursor.execute (f"create database {db_name};")
        return f"Database {db_name} created succesfully"
        logging.info(f"success: database {db_name} created")
    except Exception as e:
        return f"database probably exist already or {e}"
        logging.warning(e)

# Function Definition: DROP MYSQL Database

In [4]:
def delete_database(db_name):
    """Function to drop a database from MySql"""
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    import mysql.connector as conn
    mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
    cursor=mydb.cursor()
    logging.warning(f"Function call:: For Deleting Database: {db_name}")
    try:
        cursor.execute(f"drop database {db_name};")
        return (f"Database {db_name} dropped successfully")
    except Exception as e:
        return(f"Database: {db_name} do not exist or", e)
        logging.critical(f"Database: {db_name} dropped successfully")

# Function Definition: Create Table (with total input as prompt from user)

In [5]:
def create_table(db_name, table_name):
    """Function to create a table in MySql Database
        If the Database also not present it will create it automatically 
        and if the database is present it will simply create a table in the called database
        
        it is a dynamic function which will take all inputs from user as a prompt
        including the no. of columns required in table, Header name and Header type"""
    import logging
    import mysql.connector as conn
    mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
    cursor=mydb.cursor()
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    
    logging.info(f"Function call: MySql Table creation, Table:{table_name} in Database:{db_name}")
    try:
        logging.info(f"Database {db_name} creation started")
        cursor.execute (f"create database {db_name};")
        logging.info(f"success: database {db_name} created")
    except Exception as e:
        pass
        logging.warning(e)
        
    try:
        no_col=int(input(f" Please enter the no. of columns required for table {table_name}: "))
        l=[]
        
        for i in range (1,no_col+1):
            col_name=input(f"please enter header name for column no.{i}: ")
            col_type=input(f"please enter header Type for column no.{i}: ")
            l.append(col_name+' '+col_type)
        logging.info(f"Table Column Header Names and Types are: {l}")
        s=",".join(l)
        query=f"create table {db_name}.{table_name} "+"("+s+")"+";"
        cursor.execute(query)
        return f"Table Name: {table_name} in Database: {db_name} created successfully in MYSQL"
    except Exception as e:
        return e

# Function Definition: To Load CSV data to MySql Table automatically

In [6]:
def Load_data(db_name, table_name):
    """Load any file in CSV format to Mysql Table
        
        it takes the path of the file as a prompt from user 
        and automatically export it to the called MySql dataBase and MySql Table"""
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    
    import mysql.connector as conn
    mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
    cursor=mydb.cursor()
    
    logging.info(f"Data Loading start in Table:{table_name} of Database:{db_name}")
    
    try:
        cursor.execute('SET sql_mode=" ";')
        path=input("Please enter destination path of the source file")
        cursor.execute(f"delete from {db_name}.{table_name};")
        logging.critical(f"Previous data deleted from Table:{table_name} of Database:{db_name}")
        query=f"""LOAD DATA INFILE '{path}' 
                 INTO TABLE {db_name}.{table_name}
                 FIELDS TERMINATED BY ',' 
                 Enclosed by '"'
                 LINES TERMINATED BY '\n'
                 IGNORE 1 ROWS
               """
        cursor.execute(query)
        mydb.commit()
        logging.info(f"Data successfully loaded in Table: {table_name} of Database: {db_name}")
        return (f"Data successfully loaded in Table: {table_name} of Database: {db_name}")
        
    except Exception as e:
        logging.critical(e)
        return e

Q-1 Creating MySql Database store_sales and within it Table Dress_Attribute and Dress_Sales

In [7]:
create_table("Store_Sales", "Attribute")

 Please enter the no. of columns required for table Attribute: 14
please enter header name for column no.1: Dress_ID
please enter header Type for column no.1: int
please enter header name for column no.2: Style
please enter header Type for column no.2: varchar(30)
please enter header name for column no.3: Price
please enter header Type for column no.3: varchar (30)
please enter header name for column no.4: Rating
please enter header Type for column no.4: decimal (2,1)
please enter header name for column no.5: Size
please enter header Type for column no.5: varchar (30)
please enter header name for column no.6: Season
please enter header Type for column no.6: varchar (30)
please enter header name for column no.7: Neckline
please enter header Type for column no.7: varchar (30)
please enter header name for column no.8: SleeveLength
please enter header Type for column no.8: varchar (30)
please enter header name for column no.9: WaiseLine
please enter header Type for column no.9: varchar (30)
please enter header name for column no.10: Material
please enter header Type for column no.10: varchar (30)
please enter header name for column no.11: FabricType
please enter header Type for column no.11: varchar (30)
please enter header name for column no.12: Decoration
please enter header Type for column no.12: varchar (30)
please enter header name for column no.13: PatternType
please enter header Type for column no.13: varchar (30)
please enter header name for column no.14: Recommendation
please enter header Type for column no.14: int

'Table Name: Attribute in Database: Store_Sales created successfully'

In [26]:
create_table("Store_sales","Dress_sales")

 Please enter the no. of columns required for table Dress_sales: 24
please enter header name for column no.1: Dress_ID
please enter header Type for column no.1: int
please enter header name for column no.2: `29-08-2013`
please enter header Type for column no.2: int
please enter header name for column no.3: `31-08-2013`
please enter header Type for column no.3: int
please enter header name for column no.4: `09-02-2013`
please enter header Type for column no.4: int
please enter header name for column no.5: `09-04-2013`
please enter header Type for column no.5: int
please enter header name for column no.6: `09-06-2013`
please enter header Type for column no.6: int
please enter header name for column no.7: `09-08-2013`
please enter header Type for column no.7: int
please enter header name for column no.8: `09-10-2013`
please enter header Type for column no.8: int
please enter header name for column no.9: `09-12-2013`
please enter header Type for column no.9: int
please enter header name for column no.10: `14-09-2013`
please enter header Type for column no.10: int
please enter header name for column no.11: `16-09-2013`
please enter header Type for column no.11: int
please enter header name for column no.12: `18-09-2013`
please enter header Type for column no.12: int
please enter header name for column no.13: `20-09-2013`
please enter header Type for column no.13: int
please enter header name for column no.14: `22-09-2013`
please enter header Type for column no.14: int
please enter header name for column no.15: `24-09-2013`
please enter header Type for column no.15: int
please enter header name for column no.16: `26-09-2013`
please enter header Type for column no.16: int
please enter header name for column no.17: `28-09-2013`
please enter header Type for column no.17: int
please enter header name for column no.18: `30-09-2013`
please enter header Type for column no.18: int
please enter header name for column no.19: `10-02-2013`
please enter header Type for column no.19: int
please enter header name for column no.20: `10-04-2013`
please enter header Type for column no.20: int
please enter header name for column no.21: `10-06-2013`
please enter header Type for column no.21: int
please enter header name for column no.22: `10-08-2010`
please enter header Type for column no.22: int
please enter header name for column no.23: `10-10-2013`
please enter header Type for column no.23: int
please enter header name for column no.24: `10-12-2013`
please enter header Type for column no.24: int

'Table Name: Dress_sales in Database: Store_sales created successfully in MYSQL'

# Q-2 Now Performing: Data Bulk load for these two MySql tables i.e, Attribute and Dress_Sales

In [13]:
Load_data("Store_sales", "Attribute")

Please enter destination path of the source fileC:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Attribute DataSet.csv

'Data successfully loaded in Table: Attribute of Database: Store_sales'

In [40]:
Load_data("Store_sales", "Dress_sales")

Please enter destination path of the source fileC:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Dress Sales.csv

'Data successfully loaded in Table: Dress_sales of Database: Store_sales'

# Q-3 Reading these tables in Pandas as dataFrames

# Function Definition: To import MySql tables to Pandas as dataframe

In [23]:
def mysql_to_pd(db_name,table_name):
    """ Import MySql table to Pandas as a DataFrame
        need to call MySql DataBase name and MySql Table name along with the Function call
        it will return a Pandas DataFrame which is to be saved as a variable for future call"""
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    logging.info(f" Function call: to import Table: {table_name} of MySql DataBase:{db_name}")
    
    import pandas as pd
    
    import mysql.connector as conn
    mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985', use_pure=True)
    cursor=mydb.cursor()
    
    try:
        df=pd.read_sql(f"select * from {db_name}.{table_name};", mydb)
        logging.info(f"MySql table: {table_name} of DataBase:{db_name} successfully imported to Pandas as Dataframe:{df}")
        return df
    except Exception as e:
        logging.critical(e)
        return (e)

Importing Attribute & Dress_Sales table to Pandas through the created function mysql_to_pd()

In [40]:
DF_Attribute=mysql_to_pd("Store_Sales","Attribute")

DF_Attribute.head(10)

,Dress_ID,Style,Price,Rating,Size,Season,Neckline,SleeveLength,WaiseLine,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,null,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,null,null,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,null,null,null,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,null,cotton,null,null,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,null,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,null,null,1

In [41]:
DF_Dress_Sales=mysql_to_pd("Store_sales", "Dress_Sales")

DF_Dress_Sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2010,10-10-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624,3706,3746,3795,3832,3897,3923,3985,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942,3258,3354,3475,3654,3911,4024,4125,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11,11,11,11,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892,1914,1924,1929,1941,1952,1955,1959,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156,2252,2312,2387,2459,2544,2614,2693,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388,360,364,372,377,380,382,384,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866,882,888,895,898,906,913,919,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597,586,569,561,555,551,546,535,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256,255,254,253,250,249,249,249,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632,639,645,651,655,660,668,674,680

# Q-4. Converting Attribute dataset into JSON Format and storing Locally as Json File

# Function Definition: Exporting pandas dataframe to a specified local directory as Json File

In [8]:
def pd_to_json(df, file_name):
    """Export Pandas DataFrame to Local System as a Json File"""
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
    logging.info(f" Function call: to Export Pandas Dataframe:{df} as File:{file_name}")
    
    import pandas as pd
    try:
        folder=input(f"Please enter the director path where Pandas DataFrame is to be saved as JSON file:\n")
        df.to_json(folder+"\\"+file_name)
        logging.info(f"Success: Pandas DataFrame to Json File")
        return (f"successully saved {file_name} in the provided folder")
    except Exception as e:
        logging.critical(e)

In [16]:
pd_to_json(DF_Attribute,"Dress_Attribute.Json")

Please enter the director path where Pandas DataFrame is to be saved as JSON file:
C:\Users\Rahuu\Documents\iNeuron\FSDS\Tasks\Task_7_July.24.2022

'successully saved Dress_Attribute.Json in the provided folder'

# Q-5. Storing above exported Json File in Mongodb as a Document

# Function Definition: For storing a json file to MongoDB server

In [9]:
def json_mongodb(db_name, collection):
    """Export a Local Json file to MongoDB Server as a document
        mention: MySql Database name and Table name while function call
        it will take thepath of source file from user as a prompt"""
    
    import logging
    logging.basicConfig(filename="Task_7.log", level = logging.INFO)
   
    try:
        import json
        import pymongo
        import os
        import sys
    except Exception as e:
        logging.critical(e)
        print(e)
    
    try:        
        client = pymongo.MongoClient("mongodb://rahuul:rahuulmongodb123@ac-y5bf4b8-shard-00-00.1kvcemu.mongodb.net:27017,ac-y5bf4b8-shard-00-01.1kvcemu.mongodb.net:27017,ac-y5bf4b8-shard-00-02.1kvcemu.mongodb.net:27017/?ssl=true&replicaSet=atlas-ol05dc-shard-0&authSource=admin&retryWrites=true&w=majority")
        db = client.test
        db=client[db_name]
        collection=db[collection]
    except Exception as e:
        logging.critical(e)
        print(e)
    
    try:
        file_name=input(f"Please enter the full path for the source file to be saved in Mongodb Collection: ")
    except Exception as e:
        logging.critical(e)
        print("Path may be incorrect or may be:", e)
        
    try:
        with open (file_name) as file:
            json_data=json.load(file)        
        
        if isinstance(json_data, list):
            collection.insert_many(json_data)
        else:
            collection.insert_one(json_data)
        return (f"||File: {file_name} successfully exported to MongoDB collection||")
        logging.info(f"Success:File: '{file_name}' successfully exported to MongoDB collection")
    
    except Exception as e:
        logging.critical(f"Operation Failed:- Export of file, {file_name} to MongoDB clused: {collection} has failed.")
        return (e)

In [4]:
json_mongodb('Store_Sales_mdb', 'Attribute')

Please enter the full path for the source file to be saved in Mongodb Collection: C:\Users\Rahuu\Documents\iNeuron\FSDS\Tasks\Task_7_July.24.2022\Dress_Attribute.Json

'||File: C:\\Users\\Rahuu\\Documents\\iNeuron\\FSDS\\Tasks\\Task_7_July.24.2022\\Dress_Attribute.Json successfully exported to MongoDB collection||'

# Q-6. in MySQL task : left join operation of dress atrribute dataset with dress_Sales dataset

First we will inspect both the datasets for duplicate Dress_ID's

#Inspect: Attribute Dataset

#Create MySql view named "Attribute_Duplicate",

#Import in  Pandas as df_attribute_duplicate"

In [42]:
import mysql.connector as conn
mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
cursor=mydb.cursor()

cursor.execute("use store_sales;")
cursor.execute("drop view if exists attribute_duplicate;")

cursor.execute("""
Create view attribute_duplicate AS
(SELECT a.*
FROM store_sales.attribute a
JOIN (SELECT Dress_id,  COUNT(Dress_ID)
FROM store_sales.attribute 
GROUP BY Dress_ID
HAVING count(Dress_ID) > 1 ) b
ON a.Dress_ID = b.Dress_ID
ORDER BY a.Dress_ID);
""")
df_attribute_duplicate=mysql_to_pd("store_sales", "attribute_duplicate")
df_attribute_duplicate

,Dress_ID,Style,Price,Rating,Size,Season,Neckline,SleeveLength,WaiseLine,Material,FabricType,Decoration,PatternType,Recommendation
0,549159213,Casual,Average,4.5,free,Summer,o-neck,short,natural,cotton,null,null,solid,1
1,549159213,Casual,Average,4.4,free,Summer,o-neck,capsleeves,natural,cotton,null,null,solid,0
2,560474456,Sexy,low,4.3,free,Winter,v-neck,sleevless,natural,silk,worsted,lace,solid,1
3,560474456,Sexy,low,4.4,free,Automn,v-neck,sleevless,natural,cotton,worsted,lace,solid,0
4,699738864,Casual,low,4.7,S,summer,o-neck,full,natural,cotton,null,null,patchwork,0
5,699738864,Casual,Low,4.7,S,Summer,o-neck,full,natural,cotton,null,null,patchwork,0
6,709353440,cute,Average,4.7,L,Winter,o-neck,sleevless,natural,chiffonfabric,null,lace,solid,0
7,709353440,cute,Average,4.7,M,Summer,o-neck,sleevless,natural,chiffonfabric,null,sashes,splice,0
8,722565148,Sexy,low,4.4,free,Automn,o-neck,full,empire,cotton,null,null,leopard,0
9,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,null,null,null,0
10,727676110,Casual,low,4.6,free,winter,o-neck,full,natural,polyster,null,applique,solid,1
11,727676110,Casual,low,4.6,free,winter,o-neck,full,natural,polyster,null,applique,solid,0
12,733025646,Sexy,low,4.8,M,Automn,v-neck,full,natural,cotton,null,null,print,1
13,733025646,Casual,Low,4.8,L,Summer,v-neck,thressqatar,natural,cotton,null,null,print,0
14,733134203,vintage,Medium,4.7,free,Spring,turndowncollor,sleevless,natural,mix,null,lace,solid,1
15,733134203,Casual,low,4.7,S,Winter,o-neck,sleeevless,natural,knitting,null,lace,solid,0
16,733715437,Brief,Average,4.9,free,Summer,slash-neck,sleevless,natural,null,null,null,solid,0
17,733715437,Brief,Average,4.9,free,Winter,o-neck,sleevless,natural,null,null,null,solid,0
18,793162246,Casual,Average,4.7,L,Spring,v-neck,halfsleeve,natural,null,broadcloth,null,print,1
19,793162246,Casual,Average,4.7,XL,Summer,v-neck,halfsleeve,natural,null,broadcloth,null,print,1
20,841203385,Sexy,Low,5.0,free,Summer,v-neck,sleevless,empire,null,chiffon,null,animal,1
21,841203385,Sexy,low,5.0,free,Spring,v-neck,sleevless,empire,null,chiffon,null,null,0
22,863336720,Casual,Average,4.3,free,Summer,o-neck,sleevless,natural,cotton,worsted,null,striped,0
23,863336720,Casual,Average,4.2,free,Summer,o-neck,sleevless,natural,cotton,worsted,null,striped,1
24,870994067,cute,Low,4.9,M,Automn,o-neck,short,natural,chiffonfabric,chiffon,bow,dot,0
25,870994067,cute,Low,4.8,M,Spring,o-neck,short,natural,shiffon,shiffon,bow,dot,1
26,876708804,Sexy,Low,4.8,M,Spring,o-neck,halfsleeve,natural,silk,null,null,solid,0
27,876708804,Sexy,Low,4.8,L,Summer,o-neck,sleevless,natural,cotton,null,null,solid,1
28,896048351,Sexy,Low,4.8,free,Spring,v-neck,sleevless,null,null,null,sequined,solid,1
29,896048351,Sexy,low,4.7,free,Spring,v-neck,sleeveless,null,null,null,sequined,null,1
30,905732124,Casual,low,4.4,free,Summer,o-neck,sleevless,natural,polyster,null,sashes,print,0
31,905732124,Casual,low,4.4,free,Spring,o-neck,sleevless,natural,polyster,null,sashes,print,0
32,933231033,Casual,Average,4.7,S,Spring,o-neck,halfsleeve,empire,null,chiffon,null,null,1
33,933231033,party,Average,4.7,M,Spring,o-neck,halfsleeve,empire,null,shiffon,null,patchwork,0
34,976975672,Novelty,Average,4.9,L,Automn,o-neck,short,natural,polyster,chiffon,null,print,1
35,976975672,Novelty,Average,4.9,M,Autumn,o-neck,short,natural,polyster,chiffon,none,print,0
36,1031230798,bohemian,Average,4.7,L,Automn,o-neck,sleevless,natural,null,chiffon,null,solid,0
37,1031230798,bohemian,Average,4.8,L,Winter,o-neck,sleevless,natural,polyster,chiffon,null,solid,0
38,1032990258,party,Average,5.0,M,Spring,o-neck,halfsleeve,natural,null,null,null,null,1
39,1032990258,Casual,Average,4.3,M,Spring,o-neck,halfsleeve,null,null,null,null,null,1
40,1062354779,Casual,Average,4.5,M,Winter,v-neck,sleevless,natural,null,chiffon,button,striped,0
41,1062354779,Casual,Average,4.7,M,Automn,v-neck,sleevless,natural,null,chiffon,null,striped,1
42,1079373429,Casual,Average,4.5,M,Summer,peterpan-collor,sleevless,null,null,null,null,null,0
43,1079373429,work,Average,4.7,M,Spring,v-neck,sleevless,null,null,null,null,null,1
44,1083779666,Casual,Average,5.0,M,Summer,o-neck,short,empire,polyster,chiffon,null,animal,0
45,1083779666,Casual,Average,4.7,M,Winter,o-neck,short,empire,polyster,shiffon,null,animal,0
46,1097157656,Casual,Average,4.4,L,Automn,o-neck,halfsleeve,natural,null,dobby,lace,animal,0
47,1097157656,Casual,Average,4.5,L,Spring,boat-neck,thressqatar,natural,null,dobby,lace,animal,1
48,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,null,0
49,1219677488,Novelty,Average,0.0,free,winter,o-neck,short,natural,polyster,broadcloth,lace,null,1

#OBSERVATION (Attribute_DataSet):-

# 25 Duplicate Dress_ID's

# some Duplicate Dress_ID's have similar values & some have Different values 

# Being Categorical Data Values- we will leave the dataset as it is

Now we will inspect the Dress_Sales Dataset

#Inspect: Dress_Sales Dataset

#Create MySql view named "Dress_Sales_Duplicate",

#Import in  Pandas as df_Dress_Sales_Duplicate"

In [43]:
cursor.execute("use store_sales;")
cursor.execute("drop view if exists Dress_Sales_duplicate;")

cursor.execute(
"""Create view Dress_Sales_duplicate AS
(SELECT a.*
FROM store_sales.Dress_Sales a
JOIN (SELECT Dress_id,  COUNT(Dress_ID)
FROM store_sales.Dress_Sales 
GROUP BY Dress_ID
HAVING count(Dress_ID) > 1 ) b
ON a.Dress_ID = b.Dress_ID
ORDER BY a.Dress_ID);
"""
)

df_Dress_Sales_Duplicate=mysql_to_pd("store_sales", "Dress_Sales_duplicate")
df_Dress_Sales_Duplicate

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2010,10-10-2013,10-12-2013
0,549159213,235,243,253,259,263,267,269,281,281,...,297,0,302,0,0,0,293,0,0,300
1,549159213,0,0,0,255,263,267,269,281,281,...,297,299,302,302,293,293,293,295,298,300
2,560474456,324,338,341,334,337,334,334,343,348,...,381,0,388,0,0,0,410,0,0,419
3,560474456,0,0,0,336,337,334,334,343,345,...,381,385,388,0,0,0,410,0,0,419
4,699738864,207,236,255,267,268,286,286,283,283,...,321,0,338,0,0,0,355,0,0,381
5,699738864,0,0,0,262,268,286,286,283,283,...,321,0,338,0,0,0,355,0,0,381
6,709353440,205,226,262,280,285,307,316,339,345,...,404,0,422,0,0,0,450,0,0,475
7,709353440,0,0,0,270,285,307,316,339,344,...,404,0,422,0,0,0,450,0,0,471
8,722565148,856,882,882,868,866,861,854,850,845,...,859,0,882,0,0,0,906,0,0,931
9,722565148,0,0,0,875,866,861,854,850,844,...,859,866,882,888,895,898,906,913,919,931
10,727676110,33,45,64,79,84,92,96,114,120,...,227,0,262,0,0,0,331,0,0,390
11,727676110,0,0,0,75,84,92,96,114,121,...,227,0,262,0,0,0,331,0,0,390
12,733025646,897,897,890,868,869,851,845,836,822,...,685,0,671,0,0,0,601,0,0,571
13,733025646,0,0,0,872,869,851,845,836,828,...,761,657,642,638,626,612,601,592,585,571
14,733134203,105,123,143,153,159,177,183,202,207,...,273,0,291,0,0,0,317,0,0,347
15,733134203,0,0,0,152,159,177,183,202,209,...,273,0,291,0,0,0,317,0,0,347
16,733715437,342,352,367,375,378,381,377,386,391,...,396,0,398,0,0,0,409,0,0,409
17,733715437,0,0,0,373,378,381,377,386,388,...,396,0,398,0,0,0,409,0,0,409
18,793162246,1390,1401,1428,1435,1438,1457,1462,1472,1471,...,1483,0,1485,0,0,0,1263,0,0,1132
19,793162246,0,0,0,1428,1438,1457,1462,1472,1472,...,1483,0,1485,0,0,0,1263,0,0,1132
20,841203385,114,142,165,176,181,189,191,209,215,...,262,268,273,0,0,0,298,0,0,314
21,841203385,0,0,0,169,181,189,191,209,210,...,262,0,270,0,0,0,298,0,0,314
22,863336720,122,134,145,150,152,160,163,171,173,...,205,0,210,0,0,0,231,0,0,242
23,863336720,0,0,0,148,152,160,163,171,174,...,205,0,210,0,0,0,231,0,0,242
24,870994067,92,100,112,127,131,142,151,169,185,...,232,0,260,269,0,0,323,0,0,353
25,870994067,0,0,0,122,131,142,151,169,172,...,232,0,260,0,0,0,323,0,0,353
26,876708804,56,66,77,88,90,102,108,119,125,...,149,151,154,156,158,162,167,169,171,173
27,876708804,0,0,0,85,90,102,108,119,1224,...,149,0,153,0,0,0,167,0,0,173
28,896048351,113,141,159,167,171,178,179,201,205,...,242,0,273,0,0,0,316,0,0,346
29,896048351,0,0,0,165,171,178,179,201,205,...,242,0,273,0,0,0,316,0,0,346
30,905732124,65,79,90,98,100,109,112,126,128,...,191,0,209,0,0,0,255,0,0,285
31,905732124,0,0,0,96,100,109,112,126,133,...,191,0,209,0,0,0,255,0,0,285
32,933231033,178,200,211,213,214,219,222,226,227,...,235,0,238,0,0,0,242,0,0,244
33,933231033,0,0,0,212,214,219,222,226,226,...,235,0,238,0,0,0,242,0,0,244
34,976975672,78,81,97,101,105,117,117,132,136,...,158,0,159,0,0,0,165,0,0,182
35,976975672,0,0,0,100,105,117,117,132,136,...,158,158,159,160,162,163,165,169,175,182
36,1031230798,88,107,129,139,143,152,153,165,170,...,197,0,205,0,0,0,229,0,0,243
37,1031230798,0,0,0,134,143,152,153,165,168,...,197,0,205,0,0,0,229,0,0,243
38,1032990258,65,77,90,98,102,117,122,134,140,...,193,202,216,0,0,0,244,0,0,267
39,1032990258,0,0,0,96,102,117,122,134,138,...,193,0,216,0,0,0,244,0,0,267
40,1062354779,124,144,155,175,178,188,191,204,208,...,278,0,301,0,0,0,351,0,0,395
41,1062354779,0,0,0,168,178,188,191,204,208,...,278,0,301,0,0,0,351,0,0,395
42,1079373429,7,14,21,25,26,33,34,36,38,...,53,55,58,59,60,62,63,63,63,64
43,1079373429,0,0,0,24,26,33,34,36,37,...,53,56,58,60,61,62,63,63,64,64
44,1083779666,40,41,56,57,59,62,63,68,70,...,76,75,75,75,75,75,75,75,75,75
45,1083779666,0,0,0,56,59,62,63,68,70,...,76,75,75,0,0,0,75,0,0,75
46,1097157656,111,122,139,146,156,167,168,168,168,...,176,0,181,0,0,0,188,0,0,190
47,1097157656,0,0,0,142,156,167,168,168,168,...,176,178,181,183,185,186,188,189,189,190
48,1219677488,4,13,55,73,76,89,94,117,121,...,160,165,169,172,196,212,224,241,252,263
49,1219677488,0,0,0,67,76,89,94,117,119,...,160,0,167,0,0,0,224,0,0,263

#OBSERVATION (Dress_Sales_DataSet):-

# 25 Duplicate Dress_ID's

# some Duplicate Dress_ID's have similar values & some have Different values 

# Being Quantitavie Data Values- we will merge sales of Duplicate Dress_Id's

# creating MySql  view  "Dress_Sales_DupMerged"  

# Import MySql view in Pandas as "df_Dress_Sales_DupMerged"

In [44]:
cursor.execute("use store_sales;")
cursor.execute("drop view if exists Dress_Sales_DupMerged;")

cursor.execute("""
create view Dress_Sales_DupMerged as 
(
Select Dress_ID,
sum(`29-08-2013`) as `29-08-2013`,
sum(`31-08-2013`) as `31-08-2013`,
sum(`09-02-2013`) as `09-02-2013`,
sum(`09-04-2013`) as `09-04-2013`,
sum(`09-06-2013`) as `09-06-2013`,
sum(`09-08-2013`) as `09-08-2013`,
sum(`09-10-2013`) as `09-10-2013`,
sum(`09-12-2013`) as `09-12-2013`,
sum(`14-09-2013`) as `14-09-2013`,
sum(`16-09-2013`) as `16-09-2013`,
sum(`18-09-2013`) as `18-09-2013`,
sum(`20-09-2013`) as `20-09-2013`,
sum(`22-09-2013`) as `22-09-2013`,
sum(`24-09-2013`) as `24-09-2013`,
sum(`26-09-2013`) as `26-09-2013`,
sum(`28-09-2013`) as `28-09-2013`,
sum(`30-09-2013`) as `30-09-2013`,
sum(`10-02-2013`) as `10-02-2013`,
sum(`10-04-2013`) as `10-04-2013`,
sum(`10-06-2013`) as `10-06-2013`,
sum(`10-08-2010`) as `10-08-2010`,
sum(`10-10-2013`) as `10-10-2013`,
sum(`10-12-2013`) as `10-12-2013`
from Dress_sales group by Dress_ID
); 

""")
df_Dress_sales_DupMerged=mysql_to_pd("store_sales", "Dress_Sales_DupMerged")
df_Dress_sales_DupMerged.astype(int)

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2010,10-10-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624,3706,3746,3795,3832,3897,3923,3985,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942,3258,3354,3475,3654,3911,4024,4125,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11,11,11,11,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892,1914,1924,1929,1941,1952,1955,1959,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156,2252,2312,2387,2459,2544,2614,2693,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,990559192,0,0,0,60,62,64,65,67,68,...,73,74,75,75,76,76,77,77,77,77
471,713391965,0,0,0,560,554,544,537,525,519,...,400,388,360,364,372,377,380,382,384,285
472,532874347,0,0,0,734,728,726,715,694,690,...,616,597,586,569,561,555,551,546,535,520
473,655464934,0,0,0,254,259,261,263,268,270,...,257,256,255,254,253,250,249,249,249,248
474,919930954,0,0,0,538,545,558,563,578,585,...,628,632,639,645,651,655,660,668,674,680

Now we can Left join Attribute dataset with dress_Sales_DupMerged dataset in MySql 
& Create view named "combined_table"

In [45]:
import mysql.connector as conn
mydb=conn.connect(host='localhost', user='root',passwd='Barney@rocks1985')
cursor=mydb.cursor()
cursor.execute("use store_sales;")
cursor.execute("drop view if exists combined_table;")

cursor.execute(
"""
create view Combined_Table as 
(
select attribute.Dress_ID, attribute.Style, attribute.Price, attribute.Rating, attribute.Size,attribute.Season, attribute.Neckline, attribute.Sleevelength, attribute.waiseline, attribute.Material, attribute.FabricType, attribute.Decoration, attribute.PatternType, attribute.Recommendation,
Dress_Sales_DupMerged.`29-08-2013`,
Dress_Sales_DupMerged.`31-08-2013`,
Dress_Sales_DupMerged.`09-02-2013`,
Dress_Sales_DupMerged.`09-04-2013`,
Dress_Sales_DupMerged.`09-06-2013`,
Dress_Sales_DupMerged.`09-08-2013`,
Dress_Sales_DupMerged.`09-10-2013`,
Dress_Sales_DupMerged.`09-12-2013`,
Dress_Sales_DupMerged.`14-09-2013`,
Dress_Sales_DupMerged.`16-09-2013`,
Dress_Sales_DupMerged.`18-09-2013`,
Dress_Sales_DupMerged.`20-09-2013`,
Dress_Sales_DupMerged.`22-09-2013`,
Dress_Sales_DupMerged.`24-09-2013`,
Dress_Sales_DupMerged.`26-09-2013`,
Dress_Sales_DupMerged.`28-09-2013`,
Dress_Sales_DupMerged.`30-09-2013`,
Dress_Sales_DupMerged.`10-02-2013`,
Dress_Sales_DupMerged.`10-04-2013`,
Dress_Sales_DupMerged.`10-06-2013`,
Dress_Sales_DupMerged.`10-08-2010`,
Dress_Sales_DupMerged.`10-10-2013`,
Dress_Sales_DupMerged.`10-12-2013`
from attribute 
Left Join Dress_Sales_DupMerged
on attribute.Dress_ID=Dress_Sales_DupMerged.Dress_ID
);
""")

df_Combined_table=mysql_to_pd("store_sales", "combined_table")
df_Combined_table

,Dress_ID,Style,Price,Rating,Size,Season,Neckline,Sleevelength,waiseline,Material,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2010,10-10-2013,10-12-2013
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,...,3554.0,3624.0,3706.0,3746.0,3795.0,3832.0,3897.0,3923.0,3985.0,4048.0
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,...,2710.0,2942.0,3258.0,3354.0,3475.0,3654.0,3911.0,4024.0,4125.0,4277.0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,...,1878.0,1892.0,1914.0,1924.0,1929.0,1941.0,1952.0,1955.0,1959.0,1963.0
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,...,2032.0,2156.0,2252.0,2312.0,2387.0,2459.0,2544.0,2614.0,2693.0,2736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,...,400.0,388.0,360.0,364.0,372.0,377.0,380.0,382.0,384.0,285.0
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,...,1718.0,866.0,1764.0,888.0,895.0,898.0,1812.0,913.0,919.0,1862.0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,...,616.0,597.0,586.0,569.0,561.0,555.0,551.0,546.0,535.0,520.0
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,...,257.0,256.0,255.0,254.0,253.0,250.0,249.0,249.0,249.0,248.0
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,...,628.0,632.0,639.0,645.0,651.0,655.0,660.0,668.0,674.0,680.0

# Q-7 Writing sql query to finding out unique dress that we have based on Dress_ID

In [46]:
cursor.execute("drop view if exists unique_dresses")

cursor.execute("create view unique_dresses as (select distinct(Dress_ID), count(distinct(Dress_ID)) as frequency from attribute group by dress_id);")
df_unique=mysql_to_pd("store_sales", "unique_dresses")
df_unique

       Dress_ID  frequency
0     444282011          1
1     510519284          1
2     511503677          1
3     520233308          1
4     522776523          1
..          ...        ...
470  1246749980          1
471  1246945687          1
472  1249825438          1
473  1250787559          1
474  1253973206          1

[475 rows x 2 columns]


# Q-8 Finding all dress_ID with recommendation is 0

In [47]:

df_recommednation=pd.read_sql("select Dress_ID, Recommendation from attribute where recommendation=0",mydb)
df_recommednation

       Dress_ID  Recommendation
0    1212192089               0
1    1190380701               0
2     876339541               0
3    1068332458               0
4    1220707172               0
..          ...             ...
285   641665398               0
286   859922576               0
287   990559192               0
288   722565148               0
289   919930954               0

[290 rows x 2 columns]

# Q-9 find out total dress sell for individual dress id

In [54]:
# creating MySql view Total_Sales with total sales per Dress_ID

In [48]:
cursor.execute("use store_sales;")
cursor.execute("drop view if exists total_sales;")

cursor.execute("""create View Total_sales as
                 (select Dress_ID, (`29-08-2013`+`31-08-2013`+`09-02-2013`+`09-04-2013`+`09-06-2013`+`09-08-2013`+
                                    `09-10-2013`+`09-12-2013`+`14-09-2013`+`16-09-2013`+`18-09-2013`+`20-09-2013`+
                                    `22-09-2013`+`24-09-2013`+`26-09-2013`+`28-09-2013`+`30-09-2013`+`10-02-2013`+
                                    `10-04-2013`+`10-06-2013`+`10-08-2010`+`10-10-2013`+`10-12-2013`)
                  as Total_Sales
                  from combined_table);""")

df_total_sales=mysql_to_pd("store_sales","Total_Sales")
df_total_sales.astype(int)

       Dress_ID  Total_Sales
0    1006032852        75979
1    1212192089        52256
2    1190380701          223
3     966005983        39691
4     876339541        44077
..          ...          ...
495   713391965         8915
496   722565148        32256
497   532874347        12606
498   655464934         5167
499   919930954        12312

[500 rows x 2 columns]

# Q-10 finding out Dress_ID with 3rd highest sale

In [49]:
df_3rdHighestsalary=pd.read_sql("""select * from total_sales where 
total_sales=(select max(total_sales) from total_sales where 
total_sales<(select max(total_sales) from total_sales where 
total_sales<(select max(total_Sales) from total_sales)));
""", mydb)

df_3rdHighestsalary.astype(int)

     Dress_ID  Total_Sales
0  1006032852        75979